*.o
*.pb.h
*.pb.cc
src/libmicrobill.a
src/test/test_billmsg_adaptor
src/test/test_propertymsg_adaptor
src/test/test_mysql_client
src/test/test_event_handler
src/test/test_pp_operator
src/test/test_bill_manager
src/test/test_property_manager
src/bill
src/data
src/logs
src/test/client
src/test/data


doc
dump
service
service_multi
service_pp
